*{
  box-sizing: border-box;
}


@import "_functions";



$red: #480000;
$orange: #d84830;
$orange2: #f09048;
$orangeYellow: #f09048;
$yellow: #f0c060;

$baseFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$spacing-unit: 0.625rem;

$smallScreen: 640px;

@import "_base";
@import "_layout";

.registry{
  color: $orange;
}

body{
  background: url('../images/rice.jpg')
}

p{
  font-family: $baseFont;
  line-height: 1.8;
  margin: 0 0 ($spacing-unit * 2) 0;
  letter-spacing: .5px;
}

/**
  container & layout
*/

.content{
  background: #fff;
}

.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 ($spacing-unit * 2);
}

.container-reception{
  max-width: 800px;
  background: #FFF;
  border-radius: 2px;
  margin: ($spacing-unit * 4) auto;
  padding: ($spacing-unit * 2);
  text-align: center;
}

.row-flex{
  display: block;
  @media (min-width: $smallScreen){
    display: flex;
  }
}

.card{
  flex: 1;
  background: #fff;
  margin: ($spacing-unit * 2) 0;
  padding: ($spacing-unit * 2);
  flex-direction: column;
  display: block;
  @media (min-width: $smallScreen){
    margin: 0 ($spacing-unit * 2) ($spacing-unit * 2) ($spacing-unit * 2);
    display: flex;
  }

  a{
    color: $orangeYellow;
  }

}

.row-flex-center{
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 1.5rem;
  @media (min-width: $smallScreen){
    font-size: 3rem;
  }
}

span{
  font-family: $baseFont;
}

/**
  header
*/

header{
  text-align: center;
  position: relative;
  picture{
    margin: 1.25rem auto;
    display: block;
  }
}

.date{
  background: #fff;
  margin: $spacing-unit 0;
  padding: ($spacing-unit *2) 0;
  text-align: center;
  h2{
    margin: 0;
  }
}

img{
  width: 100%;
  max-width: 100%;
}

.img-round{
  border-radius: 360%;
}


/**
  nav
*/

nav{
  background: #000;
  ul{
    margin: 0;
    padding: ($spacing-unit * 2) 0;
      li{
        font-size: 0.813rem;
        display: inline;
        margin: 0 $spacing-unit;
        a{
          color: #fff;
          &:hover{
            color: $orangeYellow;
          }
        }
      }
  }
}



footer{
  background: #000;
  padding: $spacing-unit 0;
  margin: ($spacing-unit * 4) 0 0 0;
  clear: both;
  width: 100%;
  float: left;
  p{
    color: #fff;
    margin: 0;
    font-size: em(10);
    a{
      color: #FFF;
    }
  }
}
