*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


$red: #480000;
$orange: #d84830;
$orange2: #f09048;
$orangeYellow: #f09048;
$yellow: #f0c060;

$baseFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$spacing-unit: 0.625rem;

@import "_base";
@import "_layout";


body{
  background: url('../images/rice.jpg');
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Homemade Apple', cursive;
  margin: 0 0 ($spacing-unit * 2) 0;
  font-weight: normal;
}

p{
  font-family: $baseFont;
  line-height: 1.8;
  margin: 0 0 ($spacing-unit * 2) 0;
  letter-spacing: .5px;
}

/**
  container & layout
*/

#content{
  // margin-top: ($spacing-unit * 8);
  background: #fff;
}

.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 ($spacing-unit * 2);
}

.container-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-flex-center{
  align-items: center;
  height: 100vh;
  flex-direction: column;

  > h1, p{
    margin: 0;
  }

}

.container-about{
  margin: ($spacing-unit * 4) auto;
  background: #FFF;
}

.container-reception{
  background: #FFF;
  margin: ($spacing-unit * 4) auto;
  padding: ($spacing-unit * 2);
  flex-direction: column;
  max-width: 800px;
  text-align: center;
}

.container-photos{
    margin: ($spacing-unit * 4) auto;

  padding: ($spacing-unit * 2);
  flex-direction: column;
  max-width: 800px;
  text-align: center;
  h2{
    margin: 0;
  }
}


/**
  header
*/

header{
  background: url(https://placekitten.com/1000/500) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  color: #fff;
  h1{
    font-size: 72px;
    margin: 0;
  }
  p{
    margin: 0;
  }
}

.date{
  background: #fff;
  padding: ($spacing-unit *2) 0;
  text-align: center;
  h2{
    margin :0;
  }
  span{
    font-family: $baseFont;
  }
}


.img-round{
  border-radius: 360%;
}

.profile{
  padding: ($spacing-unit * 2);
  flex: 1 0 33%;
  img{
    display: block;
    margin: ($spacing-unit * 2) auto;
  }
  h2{
    text-align: center;
  }
}

/**
  nav
*/

nav{
  background: #000;
  ul{
    margin: 0;
    padding: $spacing-unit 0;
      li{
        font-size: 0.813rem;
        display: inline;
        margin: 0 $spacing-unit;
        a{
          color: #fff;
          &:hover{
            font-style: italic;
            color: $orangeYellow;
          }
        }
      }
  }
}

footer{
  background: #000;
  padding: $spacing-unit 0;
  color: #fff;
  p{
    margin: 0;
    a{
      color: #FFF;
    }
  }
}