.save-the-date{
	background: url('../images/welcome-photo-hd.jpg') center center no-repeat;
  height: 100vh;
  background-size: cover;
  width: 100%;
  color: #FFF;
}

.save{
	margin: 5rem 0 0 0;
	font-size: 12rem;
	text-transform: uppercase;
	letter-spacing: .4rem;
	line-height: 1;
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.8);
}

.the-date{
	margin: 0;
	font-size: 6rem;
	text-transform: uppercase;
	letter-spacing: .4rem;
	line-height: 1;	
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.8);
}

.location {
	line-height: 1;
	font-size: 4rem;	
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.8);
}
