@import 'globals/variables';

* { 
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: $base-font;
	font-weight: 300;
	color: $gray-text;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Sanchez', serif;
  margin: 0 0 2rem 0;
}

h2 {
	font-size: 3.2rem
}

h3 {
	font-size: 2.8rem;
	text-align: center;
}

h4 {
	font-size: 2.4rem;
}

p {
	font-size: 1.6rem;
	line-height: 1.9;
	margin: 0 0 2rem 0;
	color: $body-copy;
}

.img-responsive {
	width: 100%;
	max-width: 100%;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}

.container-small {
	max-width: 800px;
	margin: 8rem auto 0;
}

.row {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: center;
	}
}

/* Save the Date */

.save-the-date {
	// background: url('../images/welcome-photo-hd.jpg') 65% 0 no-repeat;
	background-size: cover;
	height: calc(75vh - 25px);
	display: flex;
	align-items: flex-end;
	color: $white;
	text-align: center;
	overflow: hidden;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, .75);

	@media (min-width: 768px) {
		background-position: center center;
	}

	p {
		color: $white;
		font-size: 2rem;
		margin: 0;
		line-height: 1;
	}

	h2 {
		font-size: 6rem;
		margin: 0;
		text-transform: uppercase;
		span {
			text-transform: lowercase;
		}
	}

	h3 {
		font-size: 3rem;
		margin: 0 0 1rem 0;
	}
}

.overlay {
	padding: 2rem 0;
	width: 100%;
  background: rgba(0,0,0, .5);
  background: linear-gradient(0deg, rgba(0,0,0,.6), rgba(0,0,0,.2));
}


/* Header Styling */

header {
	margin: 5.5rem 0 8rem 0;
	// background: url('../images/banner.jpg') center center no-repeat;
	background-size: cover;
	padding: 4rem 0;
	color: $white;
	text-align: center;
	text-shadow: 0px 3px 5px rgba(0, 0, 0, .4);

	.container {
		padding: 0 2rem;
	}
	
	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2.4rem; 
		margin: 0;
	}

}


/* Navigation Styling */

nav {
	background: $white;
	display: flex;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	overflow: hidden;
	position: fixed;
	z-index: 5;
	width: 100%;
	top: 0;
	justify-content: center;
	height: 6rem;
	ul {
		list-style: none;
		padding: 0 1rem 0 0;
		margin: 2rem 0;
		li {
			margin: 0 1rem;
			display: inline;
			font-size: 1.4rem;
			a {
				color: $gray;
				position: relative;
				&:hover {
					color: $orange;
					&:after{
    				transform: translateY(-3rem);
					}
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					left: 0;
					bottom: -4rem;
					overflow: hidden;
			    border-bottom: 2px solid $orange;
    			transform: translateY(1rem);
					transition: transform 250ms ease-in;
				}
			}
		}
	}
}

a {
	text-decoration: none;
	transition: color 350ms ease-in-out;
}

.our-story {
	h3 {
		margin: 0 0 2rem 0;
		padding: 0 0 2rem 0;
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}

	.row {
		flex-direction: column;
	}
}

.registry-card {
	border: 1px solid rgba(0,0,0,0.3);
	padding: 2rem;
	box-shadow: 0 2rem 2rem rgba(0,0,0,0.08);
	flex: 1;
	margin: 0 0 5rem 0;
	border-radius: 1rem;
	@media (min-width: 768px) {
		margin: 0 5rem 0 0rem;
		max-width: 25%;
	}

	&:last-child {
		margin: 0;
	}

	.logo {
		margin: 0 0 2rem 0;
	}
}

.btn {
	background: $orange;
	display: inline-block;
	color: $white;
	width: 100%;
	text-align: center;
	border: 0;
	border-radius: 1rem;
	padding: 1.2rem 1.2rem;
	font-size: 1.6rem;
	letter-spacing: 0.08rem;
	transition: background 350ms ease-in-out;
	&:hover{
		background: darken($orange, 15%);
	}
}

.thank-you {
	text-align: center;
	margin-bottom: 20rem;

	h2{
		font-size: 2.8rem;
		margin: 0 0 2.5rem 0;
	}

}

form {
	padding: 0 2rem;

	h2 {
		font-size: 2.8rem;
		text-align: center;
		margin: 0 0 2.5rem 0;
	}

	h3 {
		font-size: 2rem;
		width: 100%;
		margin: 0 0 2rem 0;		
		@media (min-width: $medium) {
			width: 50%;
		}
	}

	fieldset {
		border: 0;
		padding: 0;
		margin: 0 0 2rem 0;
		display: flex;
		flex-direction: column;
	}

	.inline {
		display: inline-block;
		
		label {
			margin: 0 0 1rem 0.5rem;
		}

	}

	.radio {
		display: block;
		margin: 0 0 2rem 0;
		@media (min-width: $medium) {
			margin: 0 2rem 0 0;
			display: inline-block;
		}
	}

	label {
		font-size: 1.4rem;
		margin: 0 0 1rem 0;
	}

	.input {
		font-size: 1.6rem;
		padding: 1.2rem 2.4rem;
		border-radius: 1rem;
		border: 1px solid rgba(0,0,0,0.3);
		width: 100%;
	}

	.btn {
		margin: 2rem 0 0 0;
		@media (min-width: 768px) {
			width: auto;
			display: block;
			padding: 1.2rem 2.4rem;
		}
	}

}

.accommodation {

	address {
		margin: 0 0 2rem 0;
		font-size: 1.4rem;
	}
	
	.btn {
		@media (min-width: 768px) {
			width: auto;
			padding: 1.2rem 2.4rem;
		}
	}
}

.hotel-phone {
	color: $orange;
	text-decoration: none;
}


footer {
	margin-top: 8rem;
	// background: url('../images/footer.jpg') center center no-repeat;
	background-size: cover;
	display: flex;
	padding: 8rem 0;
	text-align: center;
	color: $white;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, .75);
	a{
		color: $white;
		&:hover {
			color: $orange;
		}
	}

	p {
		color: $white;
		font-size: 1.4rem;
	}
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

.fadeIn {
	opacity: 0;
	animation: fadeIn 450ms ease-in-out 1500ms 1 forwards;
}