@import 'globals/variables';

@import 'components/body';
@import 'components/grid';

nav .hidden {
	display: none;
  @include mediumScreen {
    display: inline;
  }	
}

nav {
	background: #FFF;
	display: flex;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	overflow: hidden;
	position: fixed;
	z-index: 5;
	width: 100%;
	justify-content: center;
	ul {
		list-style: none;
		padding: 0 1rem 0 0;
		margin: 2rem 0;
		li {
			margin: 0 1rem;
			display: inline;
			a {
				color: #666;
				position: relative;
				&:hover {
					color: $orange;
					&:after{
    				transform: translateY(-3rem);
					}
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					left: 0;
					bottom: -4rem;
					overflow: hidden;
			    border-bottom: 2px solid $orange;
    			transform: translateY(1rem);
					transition: transform 350ms ease-in;
				}
			}
		}
	}
}

a {
	text-decoration: none;
	transition: color 350ms ease-in-out;
}

@import 'components/save-the-date';
@import 'globals/headers';
@import 'globals/typography';
@import 'globals/footer';
