@import "./globals/variables.scss";

*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.container{
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.row{
  padding: 0 1rem;
}

.row-flex{
  display: flex;
  flex-direction: column;
  @include mediumScreen {
    flex-direction: row;
  }
}

.row-flex > * {
  flex: 1;
  @include mediumScreen {
    margin: 0 1rem;
  }
}

@import 'globals/typography';